*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 26%, rgba(252,70,70,1) 100%); */
  background: rgb(70,252,222);
  background: linear-gradient(to right top, rgba(70,252,222,1) 0%, rgba(64,250,247,1) 100%); 

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
}

.wrapper {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  backdrop-filter: blur(2rem);

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 4rem;
}

.score-select-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-select-container label {
  margin-right: .5rem;
}

#score-select {
  border: none;
  text-align: center;
  font-size: 2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  width: 6rem;
  border: none;
  border-radius: 2rem;
}

.select-players-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.select-players-form label, .select-players-form input, .select-players-form button {
  margin: .7rem 0;
}

.select-players-input {
  border: none;
  text-align: center;
  font-size: 2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  width: 6rem;
  border: none;
  border-radius: 2rem;
}

.btn {
  border: none;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  border-radius: 2rem;

  cursor: pointer;
}

.total-players {
  border: none;
  text-align: center;
  font-size: 2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  width: 10rem;
  border: none;
  border-radius: 2rem;
}
.total-players:focus {
  outline: none;
}

.choose-players-name-container {
  font-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.choose-players-name-container div {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
}

.choose-players-name-container div label {
  margin-right: 2rem;
}

.start-game-btn {
  display: inline-flex;
  align-self: center;
}